/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.navbar{
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -104px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 100px;
}

#footer {
	text-align: center;
	background-color: #e5e5e5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding-top: 60px;
}

.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

.datalist {
    list-style:none;
	margin-left: -38px;
	position: absolute;
	width: 101%;
	z-index: 2;
}

.datalist li {
	background-color: #fff;
	box-shadow: 1px 1px 0px #555;
	cursor: pointer;
    display:block;
	line-height: 30px;
	padding: 5px 5px;
    text-decoration:none;
    width:100%;
}

.datalist li:hover { 
    background-color:#2C3E50;
    color: #FFF;
}